[submodule "PizzaHelperUnited"]
	path = PizzaHelperUnited
	url = https://github.com/pizza-studio/PizzaHelperUnited.git
[submodule "mihoyo-api-collect"]
	path = mihoyo-api-collect
	url = https://github.com/UIGF-org/mihoyo-api-collect.git
[submodule "TeyvatGuide"]
	path = TeyvatGuide
	url = https://github.com/BTMuli/TeyvatGuide.git
